#Python Assessment Test

**Question 1. For the full answers, review the notebook introductions of each topic!. Describe the following object type data                stuctures
1. Numbers
2. Strings
3. List
4. Tuples
5. Dictionaries

Use text cells to write your answers.


1.   int
2.   str
3.   []
4.   ()
5.   dict

**Question 2. Given the string 'Rameshwaram' give an index command that returns 'shwar'. Enter your code in the cell below:**

In [ ]:
s='Rameshwaram'
# Print out 'shwar' using indexing. 
text= s[4:9]
print(text)

shwar

**Question 3. Guess the output of  print(0.1+0.2==0.3), without running a code and write your answer in the text cell given below (shown below as Double-click (or enter) to edit). Use # before your answer to write in bold letters.**

# guessed answer= true

**Question 4. Now run print(0.1+0.2==0.3) in the code cell. Check the result and compare with your guessed answer.\
Explain the output. You can use internet to search the answer.**

In [ ]:
print(0.1+0.2==0.3)

#Because here we using float points. 
#These float pints are of approximate value not the exact value.
#Float value depends on the interpretor/compiler depending on the language. 
#Since when we add 0.1+0.2 it becomes 0.30000000000000004 due to python interpreter
#If we give 0.1+0.2==0.30000000000000004 then it gives true

0.1+0.2

print(0.1+0.2==0.30000000000000004) # here we can see

False
True

**Question 5. Print a complex number 2+5i in three different ways.**

In [ ]:
x= 2
y= 5

z= complex (x,y)
print(z)

(2+5j)

In [ ]:
import cmath
a=2
b=5
c= complex (a,b)

print(c)

(2+5j)

In [ ]:
print(complex (2,5))

(2+5j)

**Question 6. Run the following code and explain the outcome**

In [ ]:
#Here intex number starts with 0,1,2.... and so on. Here s[1] should be e . 
#The outcome we got the type error because 'str' object does not support item assignment
#To get right output we should define s[1]= 'e' or s[0]= 'W'(it should be in capital letter not small)

s='Welcome'
s[1]='w'

TypeError: ignored

**Question 7. Reassign 'hello' in this nested list to say 'goodbye' instead:**

In [ ]:
list1 = [1,2,[3,4,'hello']]
l2= list1[2]
l2[-1]= "goodbye"
print(list1)

[1, 2, [3, 4, 'goodbye']]

**Question 8. Using keys and indexing, grab the 'hello' from the following dictionary:**

In [ ]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print (d['k1'][2]['k2'][1]['tough'][2])

['hello']

**Question 9. Can you sort a dictionary? Why or why not?**

In [ ]:
# It is not possible to sort a dictionary, only to get a representation of a dictionary that is sorted. 
#Dictionaries are inherently orderless, but other types, such as lists and tuples, are not. 
#So you need an ordered data type to represent sorted values, which will be a listâ€”probably a list of tuples.

**Question 10. Use a one line code to find the unique values of the list below**

In [ ]:
list2 = [1,2,2,33,4,4,11,22,3,3,2]
unique_list= list(set(list2))
print(unique_list)

[1, 2, 33, 4, 3, 11, 22]

**Question 11. Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [ ]:
s = 'Print only the words that start with s in this sentence'
res = [s for s in s.split() if s[0] == 's']
print(res)

['start', 's', 'sentence']

**Question 12. Use range() to print all the even numbers from 0 to 50.**

In [ ]:
list1 = [num for num in range(0,50) if num%2 == 0]

print('even ', list1)

even  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

**Question 13. Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 4.**

In [ ]:
list2 = [num for num in range(1,50) if num%4 == 0]
print(list2)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

**Question 14. Go through the string below and if the length of a word is even print "even!"**

In [ ]:


def p_word(s):
  s=s.split()
  for word in s:
    if len(word)%2==0:
     print('even', word)
s = 'Print every word in this sentence that has an even number of letters'
p_word(s)

even word
even in
even this
even sentence
even that
even an
even even
even number
even of

**Question 15. Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [ ]:
import string
string.ascii_lowercase #Check the output of this line of code

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
def ispangram(str1, alphabet=string.ascii_lowercase):
  alphaset= set (alphabet)
  return alphaset <= set (str1.lower())

In [ ]:
ispangram("The quick brown fox jumps over the lazy dog")

True

**Question 16.** **Object Oriented Programming Challenge**

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [44]:
class Account():
  def __init__(self, owner, balance=0):
     self.owner= owner
     self.balance= balance

  def __str__(self):
    return ('Account owner: {} \nAccount balance: {}'.format(self.owner, self.balance))

  def deposit (self, deposit_amt):
    self.balance= self.balance+ deposit_amt
    print('Deposit accepted'.format(self.balance))
   

  def withdraw (self, withdraw_amt):
    
    if withdraw_amt>self.balance:
      print('Funds unavailable'.format(self.balance))
    else:
      self.balance= self.balance- withdraw_amt
      print('Withdrawal accepted'.format(self.balance))

In [45]:
# 1. Instantiate the class
acct1 = Account('Prepleaf',1000)

In [46]:
# 2. Print the object
print(acct1)

# output:
#Account owner:   Prepleaf
#Account balance: $1000

Account owner: Prepleaf
Account balance: 1000

In [47]:
# 3. Show the account owner attribute
acct1.owner
#output:
#'Prepleaf'

'Prepleaf'

In [48]:
# 4. Show the account balance attribute
acct1.balance
#output:
#1000

1000

In [49]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)
#output:
#Deposit Accepted

Deposit accepted

In [50]:
acct1.withdraw(75)
#output:
#Withdrawal Accepted

Withdrawal accepted

In [51]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(1500)
#output:
#Funds Unavailable!

Funds unavailable

Question 17.  combine given two series to form a dataframe with columns names as col1, col2 and print the first five rows.

In [19]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df= pd.concat([ser1,ser2])


df= pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

Question 18. Given the data. Which manufacturer, model and type has the highest Price?

In [28]:
 df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
 print(df.columns)
 df.loc[df.Price==np.max(df.Price), ['Manufacturer', 'Model', 'Type']]

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

     Manufacturer Model     Type
58  Mercedes-Benz  300E  Midsize

Question 19. What is the row and column number of the cell with the highest Price value?

In [39]:
row, col = np.where (df.values==np.max(df.Price))
print(row, col)

[58] [4]

Question 20. Run this code. If you get an error. Use exceptional handling to print as "An error occurred" when error occurs.

In [ ]:
list = [1,2,3,4]
try:
 for i in range(5):
    print(list[i])
except:
  print("An exception occurred")

1
2
3
4
An exception occurred