# List

**Functions and Methods**

Q1. use sort() function to sort [34,1,2,6,3,7], [[1,3], [3,2], [1,2], [3,1]] and ['a', 'x', 'e', 'A', 'X', 'E'] and tell us what you observe in 2nd, 3rd list

In [ ]:
list=[34,1,2,6,3,7]
list.sort()
print(list)

[1, 2, 3, 6, 7, 34]

In [ ]:
list1=[[1,3], [3,2], [1,2], [3,1]]
list1.sort()
print(list1) #obsevation: list is sorted by sublists in ascending order

[[1, 2], [1, 3], [3, 1], [3, 2]]

In [ ]:
list2= ['a','x','e','A','X','E']
list2.sort()
print(list2) 
#observation: list is sorted by capital letters first and then small letters in ascending alphabetical order

['A', 'E', 'X', 'a', 'e', 'x']

Q2. using count() function print the count of 2 and 3 and then using pop() and remove() function to get all a list of unique numbers for [1,2,2,3,3,3]

In [ ]:
a=  [1,2,2,3,3,3]
print(a.count(2))
print(a.count(3))

2
3

In [ ]:
print(a.pop(0))
print(a)

1
[2]

In [ ]:
print(a)
print(a.remove(2))

[2]
None

Q3. using index() find the index of min and max value in the list [3,6,2,1,7,2,9] and swap them

In [38]:
l=[3,6,2,1,7,2,9] 
print(l.index(max(l)))
print(l.index(min(l)))

def swap(l) :
  max_index=l.index(max(l))
  min_index=l.index(min(l))
  ma=max(l)
  mi=min(l)
  l[max_index]=mi
  l[min_index]=ma
swap(l)
print(l)

6
3
[3, 6, 2, 9, 7, 2, 1]

**Slicing**

Q4. Using slicing method slice [1,2,3,4,5,6,7,8,9,10] in the following ways<br>
    a) elements <4 and elements>6 <br>
    b) elements <=5 and element >5 but in reverse order<br>
    c) odd numbers and even numbers

In [ ]:
b=[1,2,3,4,5,6,7,8,9,10]
print(b[0:3])
print(b[6:])

[1, 2, 3]
[7, 8, 9, 10]

In [ ]:
print(b[4::-1])
print(b[9:4:-1])

[5, 4, 3, 2, 1]
[10, 9, 8, 7, 6]

In [ ]:
print(b[0::2])
print(b[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

Q5. Use extend() and list concatenation function on the 2 list obtained from Q4.c

In [ ]:
a1=[1, 3, 5, 7, 9]
a2=[2, 4, 6, 8, 10]
a1.extend(a2)
print(a1) #extend()function

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
b1=[1, 3, 5, 7, 9]
b1=b1+[2, 4, 6, 8, 10]
print(b1) #concatenation

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

**Unpacking List**

Q6. using unpacking method unpack the following lists in different data types<br>
a) [1,2.1,"hello"]<br>
b) ["hi", 1.1, 2.3, [1,2]]
c) ["h1", [1,3], 1,2]

In [ ]:
*a,b =  [1,2.1,"hello"]
print(a)
print(b)

[1, 2.1]
hello

In [ ]:
a,*b,c =  ["hi", 1.1, 2.3, [1,2]]
print(b)

[1.1, 2.3]

In [ ]:
a,b,*c = ["h1", [1,3], 1,2]
print(c)

[1, 2]

# String

**Functions and Methods**

Q1. Using split() function split the following strings on the given character<br>
a) "Hello I am Google Colab", " " (normal split)<br>
b) "user@example.com", "@" <br>
c) "Amanda is a woman", "a"

In [22]:
a="Hello I am Google Colab"
a.split(" ")
print(a.split(" "))

['Hello', 'I', 'am', 'Google', 'Colab']

In [21]:
 b="user@example.com"
 
 print(b.split("@"))

['user', 'example.com']

In [23]:
c="Amanda is a woman"
print(c.split('a'))

['Am', 'nd', ' is ', ' wom', 'n']

Q2. Join the list ["Hello", "World", "Nice", "to", "meet", "you"] with the following way<br>
a) normal<br>
b) "@"

In [27]:
a=["Hello", "World", "Nice", "to", "meet", "you"]
print(" ".join(a))

Hello World Nice to meet you

In [28]:
print("@".join(a))

Hello@World@Nice@to@meet@you

Q3. Replace "?" in the string with the right word to make a logically correct sentence<br>
a) "one plus one is ?"
b) "it's ? in the clock" (mention the time in the clock when you are atempting this question)

In [29]:
a="one plus one is ?"
print(a.replace('?','two'))

one plus one is two

In [30]:
b="it's ? in the clock"
print(b.replace('?', '7.40'))

it's 7.40 in the clock

# Dictionaries

Q1. Construct a Dictionary with keys ===> "name", "age", "color", "place" and repective values ===> your name, your age, your fav color, place where you live.<br>

After constructing the dictionary, print the list of keys, values and items of the dictionary

In [32]:
my_dict={'name': 'Dhana', 'age': 21, 'fav_color': 'Brown', 'Place': 'AndhraPradesh'}
print(my_dict)
print(my_dict.items())
print(my_dict.values())
print(my_dict.keys())

{'name': 'Dhana', 'age': 21, 'fav_color': 'Brown', 'Place': 'AndhraPradesh'}
dict_items([('name', 'Dhana'), ('age', 21), ('fav_color', 'Brown'), ('Place', 'AndhraPradesh')])
dict_values(['Dhana', 21, 'Brown', 'AndhraPradesh'])
dict_keys(['name', 'age', 'fav_color', 'Place'])

Q2. Construct a dictionary that contains 2 keys each as a name of your friend and value as a dictionary mentioned in Q1<br>

eg:- {"friend1":{"name": "Prashant", "age": "22"....}, "friend2": {...}}

print the list items of the main dictionary and also the sub-dictionaries present as value

In [37]:
a={'f1':{'name': 'Dhana', 'age': 21}, 'f2':{'name': 'Jyoti', 'age': 21}}
print(a)
print(a['f1'])
print(a['f2'])

{'f1': {'name': 'Dhana', 'age': 21}, 'f2': {'name': 'Jyoti', 'age': 21}}
{'name': 'Dhana', 'age': 21}
{'name': 'Jyoti', 'age': 21}