**Type of Variables**<br>
Print the type of i, j, k, s using print(type()) function

In [1]:
i = 10
j = 11.4
k = [1,2,"Hello","World"]
s = "Hello World"

In [2]:
print(i,j,k,s)

10 11.4 [1, 2, 'Hello', 'World'] Hello World

In [4]:
print(type(i))

<class 'int'>

**Basic Input & Output**

Q1. write an input function to take name of the user. While taking input the screen should tell "What is your good name" and then print it saying "Hello, this is {Name}".

In [8]:
name= input('what is your good name ')
print("hello", name)

what is your good name dhana
hello dhana

Q2. Take 2 input one as a favourite movie and other as favourite Actor<br>
Now print out "your like {movie} and {actor}" as a output using both .format() and f-string method

In [13]:
f_movie= input('what is your favourite movie ')
f_actor= input('who is your favourite actor ')
print("your like {} and {} ".format(f_movie, f_actor))
print(f"you like {f_movie} and {f_actor}")

what is your favourite movie RRR
who is your favourite actor Ram charan
your like RRR and Ram charan
you like RRR and Ram charan

**Operators**

Q1. Take 2 interger as input and print sum, multiplication, difference, division, modulus, floor division of first input over second input in every new line.

In [1]:
num1 = int(input("enter first number "))
num2 = int(input("enter second number "))
print("sum is {} \ndifference is {} \nmultiplication is {} \ndivision is {} \nmodulus is {} \nfloor division is {}".format(num1+num2, num1-num2, num1*num2, num1/num2, num1%num2, num1//num2))

enter first number 2
enter second number 9
sum is 11
difference is -7
multiplication is 18
division is 0.2222222222222222
modulus is 2
floor division is 0

Q2. Again take 2 integer as input, print their squares and repeat Q1 for their squares

In [2]:
num1 = int(input("enter first number "))
num2 = int(input("enter second number "))
sq_num1 = num1**2
sq_num2 = num2**2
print("sum is {} \ndifference is {} \nmultiplication is {} \ndivision is {} \nmodulus is {} \nfloor division is {}".format(sq_num1+sq_num2, sq_num1-sq_num2, sq_num1*sq_num2, sq_num1/sq_num2, sq_num1%sq_num2, sq_num1//sq_num2))

enter first number 2
enter second number 9
sum is 85
difference is -77
multiplication is 324
division is 0.04938271604938271
modulus is 4
floor division is 0

**Some Useful Function**

Q1. Take 3 integer as input and print the minimum and maximum of these 3 inputs

In [4]:
a, b, c = int(input()), int(input()), int(input())
print(max(a,b,c), "\n", min(a,b,c))

7
8
9
9
 7

Q2. Use sum() and print the sum of <br>
a) All elements of list <br>
b) Except 1st element of the list<br>
c) All elements of the list and start with 2

In [8]:
list1 = [2,1,4,3,8,5,6,7,10,9]

In [9]:
print(sum(list1))

55

In [10]:

print(sum(list1[1:]))

53

In [11]:

print(sum(list1, 2))

57

**Bonus Stuff**

In [15]:
# Run this code (ctrl/cmd + Enter) and see the output
i = 10
j = 10
print(i == j)
print(i is j)

True
True

In [14]:
# Now run this code and compare it with previous output
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list2
print(list1 == list2)
print(list1[1] is list2[1])
print(list1 is list2)
print(list3 is list2)

True
True
False
True

**Answers**

In [ ]:
#@title
#Basic input & output
#Q1
name = input("What is your good name? ")
print("Namaste", name)

#Q2
sport = input("What is your favourite sport? ")
player = input("Who is your favourite player? ")
print("you like {} and {}".format(sport,player))
print(f"you like {sport} and {player}")


# Operators
#Q1
num1 = int(input("enter first number "))
num2 = int(input("enter second number "))
print("sum is {} \ndifference is {} \nmultiplication is {} \ndivision is {} \nmodulus is {} \nfloor division is {}".format(num1+num2, num1-num2, num1*num2, num1/num2, num1%num2, num1//num2))

#Q2
num1 = int(input("enter first number "))
num2 = int(input("enter second number "))
sq_num1 = num1**2
sq_num2 = num2**2
print("sum is {} \ndifference is {} \nmultiplication is {} \ndivision is {} \nmodulus is {} \nfloor division is {}".format(sq_num1+sq_num2, sq_num1-sq_num2, sq_num1*sq_num2, sq_num1/sq_num2, sq_num1%sq_num2, sq_num1//sq_num2))


# Some useful function
#Q1
a, b, c = int(input()), int(input()), int(input())
print(max(a,b,c), "\n", min(a,b,c))

#Q2
print(sum(list1))
print(sum(list1[1:]))
print(sum(list1, 2))