**Q. Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print** **their place of service.
if employee is female, then she will work only in urban areas.**

**if employee is a male and age is in between 20 to 40 then he may work in anywhere**

**if employee is male and age is in between 40 t0 60 then he will work in urban areas only.**

**And any other input of age should print "ERROR".**

**Q. Take input of age of 3 people by user and determine oldest and youngest** 
**among them, using if-else statement**


**Q. Take input of integer n, perform the following conditional actions:**

**If n is odd, print Weird**

**If n is even and in the inclusive range of  0 to 10, print Not Weird**

**If n is even and in the inclusive range of 11 to 100, print Weird**

**If n is even and greater than 100, print Not Weird**

**Q. Print the following pattern**

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

**Q. Take input of two integers A and B. Write a code and print sum of all the numbers which are divisible by 11 but not by 2 between 100 and 500.**

**Q. Take a input of any integer and print sum of its digits.**